body {
			background-color:#000000;
			background-image:url('/img/living_b&w.jpg'); 
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			font: bold 15px/25px Arial, sans-serif;
			color:LightGray;
			}
        
button {
        		display: block;
        		position: relative;
        		margin: 10px;
        		padding: 0 10px;
        		text-align: center;
        		text-decoration: none;
        		width: 200px;
        		height: 40px;
        		font: bold 18px/25px Arial, sans-serif;    				
        		border: 0px;	
        				
        	    -webkit-transition: all 0.15s ease;
    			-moz-transition: all 0.15s ease;
    			-o-transition: all 0.15s ease;
    			-ms-transition: all 0.15s ease;
    			transition: all 0.15s ease;
        		}
        		
input[type="range"] {
        		display: block;
        		width: 160px;
        		height: 45px;
        		}
a:link, a:visited {
			background-color: #f44336;
			color: white;
			padding: 14px 25px;
			text-align: center; 
			text-decoration: none;
    			display: inline-block;
			}
	
a:hover, a:active {
			background-color: red;
			}	
        		
#gpio17.LOW {
        		background-color: Gray;
        		color: Black;
        		}
        		
#gpio17.HIGH {
        		background-color: Blue;
        		color: LightGray;
        		}

button#testbutton {
			display: block;
        		position: relative;
        		margin: 10px;
        		padding: 0 10px;
        		text-align: center;
        		text-decoration: none;
        		width: 200px;
        		height: 40px;
        		font: bold 18px/25px Arial, sans-serif;    				
        		border: 0px;	
        				
        	    -webkit-transition: all 0.15s ease;
    			-moz-transition: all 0.15s ease;
    			-o-transition: all 0.15s ease;
    			-ms-transition: all 0.15s ease;
    			transition: all 0.15s ease;
			}

.HIGH {
			background-color: red
}

.LOW	{
			background-color: black
}
